.diary{
    width: clamp(310px,50%,1000px);
    padding:25px;
    /* background: #000; */
    height: 100%;
    background: rgba(245, 245, 220, 0.434);
    outline: none;
    z-index: 3;
    font-family: cursive;
    resize: none;
    border-left: 20px dotted white;
    border-right: 20px dotted white;
    /* box-shadow: 0 0 100px 250px white; */




}
.diarycontainer{
    background:radial-gradient( white,rgba(255, 228, 196, 0.673),white);
    /* box-shadow:  0px -10px 1000px 50px bisque; */
}
.diary::-webkit-scrollbar{
    width: 2px;
}
.diarycontainer::before{
    content: "";
    width: clamp(310px,50%,1000px);
    height: 90vh;
    position: absolute;
    background-image: url("../assets/ruler.avif");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    z-index: 2;
    opacity: 0.3;
    box-shadow: inset 0px -10px 100px 10px black;
}