@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:linear-gradient(rgb(201, 207, 211), rgb(230,236,241));

}