.registerbox{
    border: 2px solid rgba(245, 222, 179, 0.273);
    padding: 20px;
    box-shadow:-10px -10px 10px rgba(128, 128, 128, 0.564), inset -10px -10px 20px rgba(82, 82, 82, 0.499);

}
#eml,#nm{
    color: aqua;
    position: relative;
    top: -33px;
    left: -40%;
    transition: all ease 0.3s;
    color: black;
    cursor:text;
}
#email:focus ~ #eml,#name:focus ~ #nm{
color: aqua;
    top: -65px;
    left: -45%;
}
