<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>thankyou <b><%= name %> </b> <br/>your response has been submitted with email id <b><%= email %></b></p>
        <h2>Your Feedback</h2>
        <p>
            <%= feedback %>
        </p>
    </div>
</body>
</html>